# Backup files and output files
*.swp
*~
*.bin
*.o
*.a
*.obj
*.exe
*.dll
*.lib
*.ncb
*.pdb
*.suo
*.idb
*.sdf
*.opensdf
.*.swp
.DS_Store
.qmake.stash
*~
*.log
core
*.stackdump
/*_history
tags
*.zip
foo.*

# Output directories
/public*
/build*
/doc/
/dist/
*-packed/

# A holding pen, and other transient files
/spare
foo*
foo/

# Test outputs
*.e
*.map
*.txt

# External dependencies (managed by npm)
/node_modules/
