/* icons.css: Common icon definitions */

.visible-window-icon {
    content: url(/assets/icons/monitor.png);    /* or folder.png? */
}

.visible-saved-window-icon {
    content: url(/assets/icons/monitor_add.png);    /* or folder.png? */
}

.fff-page {
    content: url(/assets/icons/page_white.png);
}
.fff-pencil {
    content: url(/assets/icons/pencil.png);
}

.fff-cross {
    content: url(/assets/icons/cross.png);
}

.fff-picture-delete {
    content: url(/assets/icons/picture_delete.png);
}

.fff-text-padding-top {
    content: url(/assets/icons/text_padding_top.png);
}

/* vi: set ts=4 sts=4 sw=4 et ai: */
