/* main.css: CSS for TabFern's src/view/index.html */

/* //////////////////////////////////////////////////////////////////// */
/* Accessibility */

/* Thanks to http://webaim.org/techniques/css/invisiblecontent/ */
.hidden-but-accessible {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* //////////////////////////////////////////////////////////////////// */
/* Layout */

/* vi: set ts=4 sts=4 sw=4 et ai: */
