<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- view/index.html: TabFern popup main source.
     CC-BY-SA 4.0 International -->
<head>
    <title>TabFern</title>
    <meta http-equiv="Content-Type" content="text/html" />

    <!-- Stylesheets ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <link href="/js/jstree-3.3.4/themes/default-dark/style.css" rel="stylesheet" type="text/css" />
    <link href="/js/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="/src/common/icons.css" /><!-- this one should always be the last stylesheet listed -->
    <link rel="stylesheet" type="text/css" media="all" href="tree.css" /><!-- this one should always be the last stylesheet listed -->

    <!-- Scripts, except for those loaded by require.js ~~~~~~~~~~~~~~~~~~~ -->
    <!--
    <script src="../common/common.js" type="text/javascript"></script>  

    <script src="/conf/require-config.js"></script> 
    <script src="/js/require.js"></script>
    -->
    <script src="/js/loglevel.js"></script>

</head>

<body class="jstree-default-dark">
<!-- jstree-default-dark to set background, text colors -->

    <div id="tabfern-container">

        <!-- Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div id="maintree"></div><!-- the window tree -->
        <div id="init-incomplete">Initialization not complete.  Changes will not
        be saved.</div><!-- hidden if init does complete. -->

        <div id="hamburger-menu" class="hamburger-menu"></div><!-- a jstree to use as a hamburger menu -->

    </div><!-- tabfern-container -->

    <!-- Main script ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script src="tree-main.js" type="text/javascript"></script>

</body>
</html>
<!-- vi: set ts=4 sts=4 sw=4 et ai: -->
