/* tree.css: CSS for tree.html */

/* //////////////////////////////////////////////////////////////////// */
/* Local styles */

.tabfern-popup-footer {
    position:fixed;
    bottom:0;
    padding-bottom: 0.5em;
}

.tabfern-popup-footer a {
    color: #888;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);  /* from jstree */
}

/* The browser window that currently has focus */
.tf-focused-window {
    font-weight: bold;
}

/* The tab that currently has focus */
.tf-focused-tab {
    font-weight: bold;
}

/* Any browser window or tab that is currently open (as opposed to closed
 * and saved) */
.tf-visible-window a {
    color: #fff !important;    /* because it's a dark theme */
}

.tf-action-button {
    /* padding, not margin, so it's clickable */
    padding-left: 0.4em;
}

#init-incomplete {
    display: none;      /* initially */
    font-size: large;
    font-weight: bold;
    color: #f33;
}

li.ephemeral-recovered {
    background: darkslategray !important;
}

.tabfern-tab-bordered {
    border-top: 1px solid #ffa;
}

.tf-bullet {
    font-family: serif; /* since the default is sans */
}

.tf--feature--hide-horizontal-scrollbars {
    overflow-x: hidden;
}

/* Notification icon ------------------------------------------------------ */

/* Need the parents of notification icons to have position other than static.
 * Thanks to https://stackoverflow.com/a/9404641/2877364 by
 * https://stackoverflow.com/users/246246/animuson */
#hamburger-menu ul li a i { position:relative; }
.jstree-contextmenu a i { position:relative; }

/* The notification icon itself */
.tf-notification:after {
    content: '\25cf';   /* a bullet */
    /*text-shadow: none;*/
    /*text-shadow: 2px 2px rgba(0,0,0,0.5);*/   /*maybe*/
    z-index: 10000;
    font-size: large;
    color: #f22;        /* looks OK on black and white */
    position:absolute;
    transform: translateX(-50%);
        /* thanks to https://stackoverflow.com/a/30631050/2877364 by
         * https://stackoverflow.com/users/395910/terry */
    top:-25%;
}

/* Action buttons and Z-order --------------------------------------------- */

/* Z order of items within a node - make sure the action group is on top */
.jstree-node {
    /* start a new stacking context - per
     * http://examiningeverything.com/index.php/2017/02/10/css-stacking-contexts/
     * See also
     * https://philipwalton.com/articles/what-no-one-told-you-about-z-index/
     * and https://stackoverflow.com/a/7421805/2877364 by
     * https://stackoverflow.com/users/248129/richard-jp-le-guen
     */
    position: relative;
    z-index: 0;
}

/* .jstree-wholerow: no express z-index on an absolute element =>
 * don't make a new stacking context */

.jstree-wholerow > .tf-action-group {
    z-index: 10;
    position: fixed;        /* starts a new stacking context */
    right: 0;
    display: inline-block;  /* Be on the same row as the window */
    padding-right: 0.5em;   /* same as hamburger menu, below */
}

.jstree-wholerow-hovered > .tf-action-group {
    visibility: visible;
}

/* Not sure why I need the :not() -- it worked or different DOM without :not. */
div:not(.jstree-wholerow-hovered) > .tf-action-group {
    visibility: hidden;
}

/* TODO figure this out */
/*.tf-action-group > i {*/  /* matches .jstree-hovered for consistency */
    /*background-color: #555;*/ /*rgba(85,85,85, 0.5);*/
    /*border-radius: 2px; */
    /*transition: background-color 0.15s;*/
/*}*/

.tf-action-group > i {
    border: 1px solid transparent;
    border-radius: 2px;
}

.tf-action-group > i:hover {
    background-color: #555;     /* solid, but otherwise matches wholerow */
        /* Solid => makes it easier to see what you're about to click on
         * when there's a long title under the buttons.  Thanks to
         * https://stackoverflow.com/a/29630813/2877364 by
         * https://stackoverflow.com/users/3436942/jbutler483 */
    border: 1px solid #707070;  /* just a bit of an affordance */
    border-radius: 2px;
    /* TODO transition 0.15s? */
}

/*.tf-action-group {*/  /* matches .jstree-animated, plus visibility */
    /* Have to repeat here because a more-specific transition rule replaces
     * any less-specific transition rules instead of supplementing them. */
    /*transition: background-color 0.15s, box-shadow 0.15s, visibility 0.15s;*/
        /* this doesn't work - need to control opacity and visibility,
         * I think.
         * TODO maybe try http://www.greywyvern.com/?post=337
         */
/*}*/

.jstree-wholerow > i {  /* action buttons on top */
    z-index: 10;
    float: right;
}

.jstree-node > i {  /* icon and text in the middle */
    z-index: 5;
}

.jstree-node > a {
    z-index: 5;
}

/* The buttons are in order Rename, Close, Delete.  Add some space to the right
 * of Close to move the "delete" button farther from the others.
 * Use padding-right on Close rather than margin-left on Delete so there isn't
 * a gap between buttons.  If there is such a gap, clicking it hits the node.
 * TODO replace this with an invisible, narrow action button that just calls
 * select_node().
 */
.tf-action-group .fff-picture-delete {
    padding-right: 0.5em;
}

/* --- Main (hamburger) menu and related ---------------------------------- */

#hamburger-menu {
    position: fixed;
    z-index: 100;

    right: 0;
    padding-right: 0.5em;
    bottom: 0;
    padding-bottom: 0.5em;
}

/* Z orders for other pertinent elements of the page, to put them in the
 * correct place with respect to the hamburger menu. */

.tabfern-container {
    z-index: 0;     /* non-auto */
    position: relative;
}

#maintree {
    z-index: 0;
    position: relative;
}

/* Make the hamburger menu symmetrical around the visible icon */

#hamburger-menu i.jstree-icon.jstree-ocl {
    display: none;
}

#hamburger-menu a.jstree-anchor {
    padding-left: 4px;     /* matches padding-right from the theme */
}

#hamburger-menu a.jstree-anchor i.jstree-icon {
    margin-left: 2px;       /* matches margin-right from the theme */
}

/* Make sure that the user can still click on action buttons on the very last
 * row of the tree.  Without this, those buttons would be hidden behind the
 * hamburger menu. */
#maintree {
    margin-bottom: 30px;    /* empirical, based on the hamburger menu's box */
}

/* ////////////////////////////////////////////////////////////////////// */
/* Tweak up jstree */

/* shrink large favicons to fit, if necessary */
.jstree-children .jstree-children .jstree-anchor .jstree-icon {
    /* Two jstree-children: don't touch the top-level nodes, only second-level
     * and lower. */
    background-size: cover !important;
}

/* context menu rides over the tree */
.jstree-contextmenu {
    z-index: 200;
}

/* Don't expand icons in the context menu - leave them at their native size */
ul.jstree-contextmenu i {
    object-fit: none;
}

/* Make icons from the main menu not appear through the submenu.  The jstree
 * css sets position:absolute, so setting z-index creates a new stacking
 * context for the submenu. */
.vakata-context ul {
    z-index: 1;
}

/* A bit more space between rows, for easier reading */
#maintree.jstree-default-dark-small .jstree-anchor {
    line-height: 19px;
    height: 19px;
}

/* ////////////////////////////////////////////////////////////////////// */
/* split.js - from its README */

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('grips/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('grips/horizontal.png');
    cursor: ns-resize;
}

.gutter.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
}

.gutter.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

.split {
    box-sizing: border-box;
}

/* vi: set ts=4 sts=4 sw=4 et ai: */
