<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- CC-BY-SA 4.0 International -->
<head>
<title>TabFern</title>
<meta http-equiv="Content-Type" content="text/html" />
<!--link href="../../css/382.css" rel="stylesheet" type="text/css" /-->
<link href="/js/jstree-3.3.4/themes/default-dark/style.css" rel="stylesheet" type="text/css" />
<link href="/js/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" />

<script src="/js/js-signals-1a82bdd/dist/signals.min.js" type="text/javascript"></script>

<script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
<script src="/js/jstree-3.3.4/jstree.js" type="text/javascript"></script>
<script src="/js/jstree-actions-cw.js" type="text/javascript"></script>
<script src="/js/loglevel-3451d42.js" type="text/javascript"></script>
<script src="/js/multidex-tiny.js" type="text/javascript"></script>
<script src="../common/common.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" media="all" href="view.css" /><!-- this one should always be the last stylesheet listed -->

</head>
<body class="jstree-default-dark">
<!-- jstree-default-dark to set background, text colors -->
<div id="maintree"></div><!-- the window tree -->
<div id="view-messages"></div><!-- for error messages -->
<div id="init-incomplete">Initialization did not complete.  Changes will not
be saved.</div><!-- hidden if init does complete. -->
<div id="hamburger-menu" class="hamburger-menu"></div><!-- a jstree to use as a hamburger menu -->

<script src="shortcuts/keybindings/defaults.js" type="text/javascript"></script>
<script src="shortcuts/drivers/dmaruo_keypress.js" type="text/javascript"></script>
<!--TODO: Ability to save/load user bindings-->
<script src="shortcuts/shortcuts.js" type="text/javascript"></script>
<script src="contextMenu/contextMenu.js" type="text/javascript"></script>

<script src="hamburger.js" type="text/javascript"></script>
<script src="view.js" type="text/javascript"></script>

</body>
</html>
<!-- vi: set ts=4 sts=4 sw=4 et ai: -->
