/* view.css */

/* DEBUG */
/*div#hamburger-menu { background: #533; }*/
/* //////////////////////////////////////////////////////////////////// */
/* Accessibility */

/* Thanks to http://webaim.org/techniques/css/invisiblecontent/ */
.hidden-but-accessible {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* //////////////////////////////////////////////////////////////////// */
/* Local styles */

.tabfern-popup-footer {
    position:fixed;
    bottom:0px;
    padding-bottom: 0.5em;
}

.tabfern-popup-footer a {
    color: #888;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);  /* from jstree */
}

/* The browser window that currently has focus */
.tf-focused-window {
    font-weight: bold;
}

/* The tab that currently has focus */
.tf-focused-tab {
    font-weight: bold;
}

/* Any browser window or tab that is currently open (as opposed to closed
 * and saved) */
.tf-visible-window a {
    color: #fff !important;    /* because it's a dark theme */
}

.action-margin {
    padding-left: 0.4em;
}

div#init-incomplete {
    display: none;      /* initially */
    font-size: large;
    font-weight: bold;
    color: #f33;
}

li.ephemeral-recovered {
    background: darkslategray !important;
}

/* Notification icon ------------------------------------------------------ */

/* Need the parents of notification icons to have position other than static.
 * Thanks to https://stackoverflow.com/a/9404641/2877364 by
 * https://stackoverflow.com/users/246246/animuson */
div#hamburger-menu ul li a i { position:relative; }
.jstree-contextmenu a i { position:relative; }

/* The notification icon itself */
.tf-notification:after {
    content: '\25cf';   /* a bullet */
    /*text-shadow: none;*/
    /*text-shadow: 2px 2px rgba(0,0,0,0.5);*/   /*maybe*/
    z-index: 10000;
    font-size: large;
    color: #f22;        /* looks OK on black and white */
    position:absolute;
    transform: translateX(-50%);
        /* thanks to https://stackoverflow.com/a/30631050/2877364 by
         * https://stackoverflow.com/users/395910/terry */
    top:-25%;
}

/* Action buttons --------------------------------------------------------- */

.jstree-wholerow {
    z-index: 0;
}

.tf-action-group {
    /* Sit at the right side of the screen */
    position: fixed;
    right: 0;
    padding-right: 1em;

    /* Keep the action icons above the whole-row bar.
     * Thanks to https://stackoverflow.com/a/7421805/2877364 by
     * https://stackoverflow.com/users/248129/richard-jp-le-guen */
    z-index: 10;

    /* Be on the same row as the window */
    display: inline-block;
}

/* Hide the action buttons except when the row is hovered. */
/*
.jstree-node a.jstree-hovered ~ .tf-action-group {
    visibility: visible;
}
*/
/* hidden, to start with */
.jstree-node a ~ .tf-action-group {
    visibility: hidden;
}

.jstree-node > i {
    z-index: 5;
}

.jstree-node > a {
    z-index: 5;
}

.tf-action-group i {
    z-index: 10;    /* same as .tf-action-group */
}

.jstree-node {
    opacity: 0.999999;
    /* transform: translateX(0px); */
}

/* --- Menu --------------------------------------------------------------- */
div#hamburger-menu {
    position: fixed;
    right: 0;
    padding-right: 0.5em;
    bottom: 0;
    padding-bottom: 0.5em;
};

/* This doesn't work and I don't know why.  However, the wholerow plugin
 * does the same job. */
/* Hide the down-left tree decoration on the hamburger menu. */
/*
.jstree-default-dark .hamburger-menu.jstree-default-dark-small .jstree-leaf > .jstree-icon.jstree-ocl {
    display: none !important;
    visibility: hidden !important;
    background-image: none !important;
    border: 1px red !important;
};
*/

/* --- Action buttons ----------------------------------------------------- */

.right-top {
    /* Keep the pencil above the whole-row bar.
     * Thanks to https://stackoverflow.com/a/7421805/2877364 by
     * https://stackoverflow.com/users/248129/richard-jp-le-guen */
    position:relative;
    z-index: 1;
}

/* Keep the "delete" button farther from the others */
.tf-action-group .fff-cross {
    margin-left:0.5em;
}

/* Icons ------------------------------------------------------------------ */

.visible-window-icon {
    content: url(/assets/icons/monitor.png);    /* or folder.png? */
}

.visible-saved-window-icon {
    content: url(/assets/icons/monitor_add.png);    /* or folder.png? */
}

.fff-page {
    content: url(/assets/icons/page_white.png);
}
.fff-pencil {
    content: url(/assets/icons/pencil.png);
}

.fff-cross {
    content: url(/assets/icons/cross.png);
}

.fff-picture-delete {
    content: url(/assets/icons/picture_delete.png);
}

/* ////////////////////////////////////////////////////////////////////// */
/* Tweak up jstree */

/* shrink large favicons to fit, if necessary */
.jstree-children .jstree-children .jstree-anchor .jstree-icon {
    /* Two jstree-children: don't touch the top-level nodes, only second-level
     * and lower. */
    background-size: cover !important;
}

/* context menu rides over the tree */
.jstree-contextmenu {
    z-index: 10;
}

/* Don't expand icons in the context menu - leave them at their native size */
ul.jstree-contextmenu i {
    object-fit: none;
}

/* vi: set ts=4 sts=4 sw=4 et ai: */
