/* view.css */

/* //////////////////////////////////////////////////////////////////// */
/* Accessibility */

/* Thanks to http://webaim.org/techniques/css/invisiblecontent/ */
.hidden-but-accessible {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* //////////////////////////////////////////////////////////////////// */
/* Local styles */

.tabfern-popup-footer {
    position:fixed;
    bottom:0px;
    padding-bottom: 0.5em;
}

.tabfern-popup-footer a {
    color: #888;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);  /* from jstree */
}

/* The browser window that currently has focus */
.tf-focused-window {
    font-weight: bold;
}

/* The tab that currently has focus */
.tf-focused-tab {
    font-weight: bold;
}

/* Any browser window or tab that is currently open (as opposed to closed
 * and saved) */
.tf-visible-window a {
    color: #fff !important;    /* because it's a dark theme */
}

.action-margin {
    padding-left: 0.4em;
}

div#init-incomplete {
    display: none;      /* initially */
    font-size: large;
    font-weight: bold;
    color: #f33;
}

/* Action buttons --------------------------------------------------------- */

.jstree-wholerow {
    z-index: 0;
}

.tf-action-group {
    /* Sit at the right side of the screen */
    position: fixed;
    right: 0;
    padding-right: 1em;

    /* Keep the action icons above the whole-row bar.
     * Thanks to https://stackoverflow.com/a/7421805/2877364 by
     * https://stackoverflow.com/users/248129/richard-jp-le-guen */
    z-index: 1;

    /* Be on the same row as the window */
    display: inline-block;
}

/* Hide the action buttons except when the row is hovered. */
.jstree-node a.jstree-hovered ~ .tf-action-group {
    visibility: visible;
}
.jstree-node a ~ .tf-action-group {
    visibility: hidden;
}

/* --- Menu --------------------------------------------------------------- */
div#hamburger-menu {
    position: fixed;
    right: 0;
    padding-right: 0.5em;
    bottom: 0;
    padding-bottom: 0.5em;
};

/* This doesn't work and I don't know why.  However, the wholerow plugin
 * does the same job. */
/* Hide the down-left tree decoration on the hamburger menu. */
/*
.jstree-default-dark .hamburger-menu.jstree-default-dark-small .jstree-leaf > .jstree-icon.jstree-ocl {
    display: none !important;
    visibility: hidden !important;
    background-image: none !important;
    border: 1px red !important;
};
*/

/* --- Action buttons ----------------------------------------------------- */

.right-top {

    /* Keep the pencil above the whole-row bar.
     * Thanks to https://stackoverflow.com/a/7421805/2877364 by
     * https://stackoverflow.com/users/248129/richard-jp-le-guen */
    position:relative;
    z-index: 1;

    /*
    // TODO tweak jstree-actions to use a div as below to wrap the actions.
    // Using this on each action makes them all overlap.
    //float: right;
    //position:fixed;
    //right:0;
    */
}

/* Keep the "delete" button farther from the others */
.tf-action-group .fff-cross {
    margin-left:0.5em;
}

/* Icons ------------------------------------------------------------------ */

.visible-window-icon {
    content: url(/assets/icons/monitor.png);    /* or folder.png? */
}

.visible-saved-window-icon {
    content: url(/assets/icons/monitor_add.png);    /* or folder.png? */
}

.fff-page {
    content: url(/assets/icons/page_white.png);
}
.fff-pencil {
    content: url(/assets/icons/pencil.png);
}

.fff-cross {
    content: url(/assets/icons/cross.png);
}

.fff-picture-delete {
    content: url(/assets/icons/picture_delete.png);
}

/* ////////////////////////////////////////////////////////////////////// */
/* Tweak up jstree */

/* shrink large favicons to fit, if necessary */
.jstree-children .jstree-children .jstree-anchor .jstree-icon {
    /* Two jstree-children: don't touch the top-level nodes, only second-level
     * and lower. */
    background-size: cover !important;
}

/* vi: set ts=4 sts=4 sw=4 et ai: */
