<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TabFern</title>
<meta http-equiv="Content-Type" content="text/html" />
<!--link href="../../css/382.css" rel="stylesheet" type="text/css" /-->
<link href="/js/jstree-3.3.4/themes/default-dark/style.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
<script src="/js/jstree-3.3.4/jstree.js" type="text/javascript"></script>
</head>
<body class="jstree-default-dark">
<div id="maintree">
	<ul><li>Node 1</li>
		<li>Node 2</li>
		<li>Node 3
		<ul class="jstree-open"><li>Subnode 1</li></ul>
		</li>
	</ul>
</div>
<script src="view.js" type="text/javascript"></script>
</body>
</html>
