/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/

/* gray out the "What's new" entries except for the first.  nth-child(n+3)
 * because a div.tab-content has an <h2> first, then the tables. */
div#content div.tab-content:last-child table:nth-child(n+3) {
    background: #ededed;    /* matches #sidebar in main.css */
}

/* Gold-star bullets */
li.gold-star {
    list-style-type: none;
    margin-left: -16px;
}

li.gold-star:before {
    vertical-align: sub;
    content: url('/assets/icons/Gold Star-349834968906 - jhnri4 - pd-oca - 14in16px.svg');
}

span.plain {
    font-weight: normal;
    text-decoration: none;
}

/* vi: set ts=4 sts=4 sw=4 et ai: */
