/* settings/main.scss: SCSS file for settings/index.html.
 * N.B.: Ignore the deprecation warnings during build per
 * https://github.com/sass/sass/issues/556#issuecomment-397771726 .
 */

/* === default === */
@use "__default";

/* === main === */
@use "__main";

/* === setting === */
@use "__setting";

/* === custom === */
@use "__custom";

/* === spin.js === */
@use "spin.js/spin";

/* === spectrum === */
@use "spectrum-colorpicker/spectrum";

